<div class="row">
  <div class="column small-12 large-9 small-order-2 large-order-1">
    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-divider">
          <%= post.title %><br />
          posted by <%= post.admin.email %>
        </div>
        <div class="card-section">
          <%= post.content.html_safe %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column small-12 large-3 small-order-1 large-order-2">
    <ul class="vertical menu" data-accordion-menu>
      <% @years.each do |year| %>
        <li>
          <%= link_to year, "#" %>
          <ul class="menu vertical nested">
            <% @posts_archive.each do |yr_month, post_arr| %>
              <% if yr_month.first == year %>
                <li>
                  <%= link_to I18n.t("date.abbr_month_names")[yr_month.last], "#" %>
                  <ul class="menu vertical nested">
                    <% post_arr.each do |post| %>
                      <li><%= link_to post.title, post_path(post) %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
