<div class="row posts-container">
  <div class="column small-12 large-9 small-order-2 large-order-1">
    <% @posts.each do |post| %>
      <div class="post">
        <%= link_to post_path(post) do %>
          <div class="post-title">
            <h4><%= post.title %></h4>
            <p><%= post.created_at.strftime("%d %B %Y")%></p>
          </div>
        <% end %>
        <div class="post-content">
          <%= post.content.html_safe %>
        </div>
        </div>
    <% end %>
  </div>

  <div class="column small-12 large-3 small-order-1 large-order-2">
    <h6 class="archive">
      Archives
    </h6>
    <ul class="vertical menu posts-archive" data-accordion-menu>
      <% @years.each do |year| %>
        <li>
          <%= link_to year, "#" %>
          <ul class="menu vertical nested">
            <% @posts_archive.each do |yr_month, post_arr| %>
              <% if yr_month.first == year %>
                <li>
                  <%= link_to I18n.t("date.abbr_month_names")[yr_month.last], "#" %>
                  <ul class="menu vertical nested">
                    <% post_arr.each do |post| %>
                      <li><%= link_to "#{post.created_at.day} - #{post.title}", post_path(post) %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
