<h4 class="text-center">
  <%= @post.title %>
  <% if admin_signed_in? %>
    <%= link_to edit_post_path(@post), class: "edit-post-link" do %>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <% end %>
    <%= link_to @post, method: :delete, class: "delete-post-link", data: { confirm: 'Are you sure?'}  do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  <% end %>
</h4>
<div>
  <h6 class="text-center subheader">
    <%= @post.created_at.strftime("Posted on %A, %d %B %Y")%> by <%= @post.admin.email %>
  </h6>
</div>

<hr />

<div class="row align-center">
  <div class="column small-12 medium-10 large-8">
    <%= @post.content.html_safe %>
  </div>
</div>
