<div class="top-bar">
  <div class="top-bar-title">
    <a data-toggle="sidebar-menu" class="hide-for-large top-bar-hamburger">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <%= link_to "Our Blog", root_path %>
  </div>
  <div class="top-bar-right show-for-large">
    <ul class="menu">
      <li>
        <a>Photos</a>
      </li>
      <li>
        <a>To Do</a>
      </li>
      <li>
        <a>About</a>
      </li>
      <li>
        <%= link_to "New Post", new_post_path %>
      </li>
      <li>
        <ul class="dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
        <li>
          <a class="topbar-dropdown"><i class="fa fa-cog" aria-hidden="true"></i></a>
          <ul class="menu vertical">
            <li><a href="#">Profile</a></li>
            <hr class="menu-divider"/>
            <li>
              <% if admin_signed_in? %>
                <%= link_to "Log Out", destroy_admin_session_path, method: :delete %>
              <% else %>
                <%= link_to "Log In", new_admin_session_path %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      </li>
    </ul>
  </div>
</div>

<div class="off-canvas position-left" id="sidebar-menu" data-off-canvas>
  <!-- Your menu or Off-canvas content goes here -->
  <ul class="vertical menu">
    <li class="text-right">
      <a aria-label="Close menu" data-close>
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </li>
    <li class="text-center"><a href="#">One</a></li>
    <li class="text-center"><a href="#">Two</a></li>
    <li class="text-center"><a href="#">Three</a></li>
    <li class="text-center">
      <%= link_to "New Post", new_post_path %>
    </li>
    <hr class="menu-divider"/>
    <li class="text-center">
      <a href="#">Profile</a>
    </li>
    <li class="text-center">
      <% if admin_signed_in? %>
        <%= link_to "Log Out", destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", new_admin_session_path %>
      <% end %>
    </li>
  </ul>
</div>
