<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Our Blog" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= content_for(:body_class) || request.controller_class.name.downcase.gsub('controller','') %>">
    <div class="off-canvas-wrapper">
      <div class="off-canvas-content" data-off-canvas-content>
        <%= render "navigation/topbar" %>

        <% flash.each do |name, msg| %>
          <div class="row column">
            <div class="callout <%= name %>">
              <%= msg %>
            </div>
          </div>
        <% end %>

        <div class="row column">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
